# same as gitignore, but is allowed to include the dist directory

.DS_Store
.editorconfig
.idea/
.sass-cache
.tmp
app/keys.js
app/styles/**/*.css
bower_components
coverage
node_modules
npm-debug.log
